{% extends "base.html" %}

{% block title %}Articles{% endblock %}

{% block content %}
<h1>Articles</h1>

{% if request.user.role == 'JOURNALIST' or request.user.role == 'EDITOR' %}
<a href="{% url 'news:article-create' %}">
    Create Article
</a>
{% endif %}

{% for article in articles %}
    <div>
        <h3>
            <a href="{% url 'news:article-detail' article.pk %}">
                {{ article.title }}
            </a>
        </h3>

        <p>
            {{ article.created_at }}
        </p>

        <p>
            {% if article.status == article.Status.APPROVED %}
                Approved
            {% else %}
                Awaiting Approval
            {% endif %}
        </p>
    </div>

    <hr>
{% empty %}
    <p>No articles found.</p>
{% endfor %}
{% endblock %}