{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>🛒 Buyer Dashboard</title>
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
        <body>
            <div>
                <p>Welcome {{ user.username }}</p>
                <a href="{% url 'eCommerce:products_list' %}">View Products
                </a>
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4">
                        <h5>{{ product.name }}</h5>
                        <p>{{ product.description }}</p>
                        <h6>R {{ product.price }}</h6>
                        <a href="{% url 'eCommerce:product_page' product.id %}">
                        <button type="button">View Product
                        </button>
                        </a>
                    </div>
                    {% empty %}
                    <p>No products available.</p>
                    {% endfor %}
                </div>
            </div>
            <div>
            <form method="POST"
                    action="{% url 'grabsomore:logout' %}"
                    style="margin-top:15px;">
                    {% csrf_token %}
                    <button type="submit"
                            class="btn btn-danger">
                        Logout
                    </button>
                </form>
        </div>
    </body>
</html>
{% endblock %}